body {
    background-image: url(/assets/img/bg.jpg);
    background-repeat:no-repeat;
    font-family: 'Outfit', sans-serif;
   background-size:cover;
}

header img {
    width: 18em;
    padding-left: 10em;
    padding-top: 5em;
    margin-bottom: 2em;
}





.title {
    text-align: center;
    color: white;
}

.title h1 {
    font-size: 6em;
    margin-bottom: 0.05em;
}

.title h3 {
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    font-weight: 200;
    text-shadow: 2px 2px 4px white;

}


#stars {
    text-align: center;
}



.star {
    font-size: 6em;
    color: black;
    cursor: pointer;
    padding: 0.1em;
    
}

.star.selected {
    color: #01FFFF;
}

#comment-area h3 {
    font-size: 2.5em;
    margin-top: 1em;
    margin-bottom: 0.3em;
    color: white;
}


#comment-area {
    text-align: center;
    margin-top: 3em;
    
}

#comment {
    width: 80em;
    height: 3em;
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    background-color:transparent;
    border-bottom: 2px solid red;
    padding: 20px;
    padding-bottom: 0.2em;
    padding-top: 5em;
}

#comment::placeholder {
  
    color: #999; 
    width: 15em;
    font-size: 1.5em; 
    
    
    
}

#comment-area button{
margin-top: 6em;
width: 20em;
height: 6em;
color: black;
background-color: #01FFFF;
border: none;
box-shadow: 0px 0px 50px #01FFFF;
transition: box-shadow 0.3s;
}





#comment-area button span {
    font-size: 2.5em;
    font-weight: 200;
    text-shadow: 2px 2px 4px white;

    
}