@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

body {
  background-image: url(/assets/img/bg.jpg);
  background-repeat: no-repeat;
  font-family: "Outfit", sans-serif;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
}

header img {
  width: 12em;
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 2em;
}

.title {
  text-align: center;
  color: white;
}

.title h1 {
  font-size: 4.5em;
  margin-bottom: 0.05em;
}

.title h3 {
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 0.3em;
  font-weight: 200;
  text-shadow: 2px 2px 4px white;
}

#stars {
  text-align: center;
  padding: 50px 0px;
}

.star {
  font-size: 4.5em;
  color: black;
  cursor: pointer;
  padding: 0.1em;
}

.star.selected {
  color: #01ffff;
}

#comment-area h3 {
  font-size: 1.8em;
  margin-top: 1em;
  margin-bottom: 0.3em;
  color: white;
  font-weight: 200;
  text-shadow: 2px 2px 4px white;
}

#comment-area {
  text-align: center;
}
#comment-area textarea {
  resize: none;
  font-family: "Outfit", sans-serif;
}

#comment {
  width: 80em;
  height: 2em;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  background-color: transparent;
  width: 65%;
  overflow: hidden;
  border-bottom: 2px solid red;
  padding: 20px;
  padding-bottom: 0.1em;
  padding-top: 5em;
  color: white;
  font-size: 1.2em;
}

#comment::placeholder {
  color: #999;
  width: 15em;
  font-size: 1.4em;
}

#comment-area button {
  margin-top: 5em;
  width: 350px;
  height: 80px;
  color: black;
  background-color: #01ffff;
  border: none;
  box-shadow: 0px 0px 50px #01ffff;
}

#comment-area button span {
  font-size: 2em;
  font-weight: 600;
  text-shadow: 0px 2px 5px rgb(255, 255, 255);
}

textarea:focus {
  outline: none;
}
#moreInfo:hover {
  cursor: pointer;
}
